.question-container {
    padding: 1rem;
}

.question-header {
    font-size: 1.5em;
}

.answers-list-container {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.answer-container {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 0.5rem;
    margin-left: 0.5rem;
}

.clickable {
    cursor: pointer;
    &:hover:not(.correct-answer) {
        background-color: lightgrey;
    }
}

.correct-answer {
    background-color: green;
    color: white;
}

.wrong-answer {
    background-color: red;
    color: white;
}