<div class="question-container">
    <div class="question-header" [innerHTML]="question.question | safeHtmlPipe"></div>
    <div>
        <div class="answers-list-container">
            <div *ngFor="let answer of question.answers" (click)="emitAnswer(answer)">
                <div 
                    class="answer-container"
                    [innerHTML]="answer | safeHtmlPipe"
                    [class]="selectedAnswer?.answer | classForAnswerPipe: question: answer: highlightCorrect"
                ></div>
            </div>
        </div>
    </div>
</div>